<div style="position: sticky;  top: 0;"  >
  <button style="width: 100%;" mat-raised-button color="accent" routerLink="/main"><mat-icon>home</mat-icon>  HOME</button>
</div>
<h2> ABOUT </h2>
<h3>
  This game is made to help students or any interested person to learn a fundamental basic of propositional logic (SAT).
</h3>
<h2> HOW TO PLAY </h2>
<h3>
  There are two colors, winning color and losing color.
  And there are symbols. For each, an inverted symbol can exist.
  The Symbols are divided in boxes.

</h3>

<h3>
  The player should assign the two colors to each symbol such that each symbol and its invert-symbol have a different color.
</h3>


<h3>
  The player wins if in each box at least one symbol in the winning color.
</h3>
