table {
  border: none;
  border-collapse: collapse;
  /*margin:1em auto;*/
}
td {
  /*height:30px;*/
  /*width:30px;*/
  /*border:1px solid;*/
  text-align:center;
}

.center {
  position:sticky;
  top:0;
  display: flex;
  justify-content: center;
}
.mat-card{
  background-color: rgba(255, 255, 255, 1);
}



.border-left {
  border-left: 1px solid;
}
.border-right {
  border-right: 1px solid;
}

.border-top {
  border-top: 1px solid;
}
.border-bottom {
  border-bottom: 1px solid;
}

.border-left2 {
  border-left: 3px solid;
}
.border-right2 {
  border-right: 3px solid;
}

.border-top2 {
  border-top: 3px solid;
}
.border-bottom2 {
  border-bottom: 3px solid;
}

