table {
  margin:1em auto;
}
td {
  height:30px;
  width:30px;
  border:1px solid;
  text-align:center;
}
.fixedtop{
  position:sticky;
  top:0;
}
/*td:first-child {*/
/*  border-left:solid;*/
/*}*/
/*td:nth-child(3n) {*/
/*  border-right:solid ;*/
/*}*/

/*td:nth-child(4) {*/
/*  border-left:solid;*/
/*}*/
/*td:nth-child(7) {*/
/*  border-left:solid;*/
/*}*/
/*td:nth-child(n) {*/
/*  border-top:solid;*/
/*  border-bottom:solid ;*/
/*}*/



/*tr:first-child {*/
/*  border-top:solid;*/
/*}*/
/*tr:nth-child(n) td {*/
/*  border-top:solid;*/
/*  border-right:solid ;*/
/*  border-bottom:solid ;*/
/*}*/
/*tr:nth-child(3n) td {*/
/*  border-bottom:solid ;*/
/*}*/


.border-left {
  border-left: 2px solid;
}
.border-right {
  border-right: 2px solid;
}

.border-top {
  border-top: 2px solid;
}
.border-bottom {
  border-bottom: 2px solid;
}

