<div class="home-container">
  <div class="home-content">
    <div class="mat-h1">
      <h1>THE BOX GAME</h1>
    </div>
    <div>
      <button mat-raised-button color="accent"routerLink="/games"><mat-icon>play_arrow</mat-icon>  PLAY!</button>
    </div>

    <div>
      <button mat-raised-button color="primary"><mat-icon>group_work</mat-icon>  PLAY WITH OTHERS!</button>
    </div>

    <div >
      <button mat-raised-button color="accent" routerLink="/settings"><mat-icon>settings</mat-icon>  SETTINGS</button>
    </div>

    <div>
      <button mat-raised-button color="primary"routerLink="/about"><mat-icon>live_help</mat-icon>  ABOUT</button>
    </div>

    <div >
      <button mat-raised-button color="accent" routerLink="/logout"><mat-icon>exit_to_app</mat-icon>  LOGOUT</button>
    </div>
  </div>
</div>

