  <div class="home-content">

      <h3>Congratulation  you did it!</h3>
      <h3 >you finished in: {{time}}</h3>
      <h3 >your score is: {{score}}</h3>
      <img  class="images" src="assets/imgs/jku.jpg"/>
    <br>
    <br>
    <br>
    <div >
      <button mat-raised-button color="accent" routerLink="/game/{{levelId}}"><mat-icon>restore</mat-icon>  RETRY</button>
    </div>
    <br>


    <div >
      <button mat-raised-button color="primary" routerLink="/games"><mat-icon>sort</mat-icon>  SELECT GAME</button>
    </div>
    <br>

    <div >
      <button mat-raised-button color="accent" routerLink="/main"><mat-icon>home</mat-icon>  HOME</button>
    </div>

</div>
